<div class="container">
  <div class="row">
    <div class="total-box col-md-3">
       <%= number_to_currency(@today) %>
      <span>TODAY</span>
    </div>
    <div class="total-box col-md-3">
      <%= number_to_currency(@yesterday) %>
      <span>YESTERDAY</span>
    </div>
    <div class="total-box col-md-3">
      <%= number_to_currency(@this_month) %>
      <span>PRESENT MONTH</span>
    </div>
    <div class="total-box col-md-3">
      <%= number_to_currency(@last_month) %>
      <span>LAST MONTH</span>
    </div>
  </div>

  <div class="row" style="margin-top: 40px;">
    <div class="box col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">last 6 Months</div>
        <div class="panel-body">
          <div id="expenses-chart" style="height: 300px;">
            <%= column_chart @six_expense_data, stacked: true, prefix: "$", thousands: ",", legend: "bottom" %>          
          </div>
        </div>
      </div>
    </div>
    <div class="box col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">By Day</div>
        <div class="panel-body">
          <div id="daily-expenses-chart" style="height: 300px;">
            <%= column_chart @this_month_by_day, stacked: true, prefix: "$", thousands: ",", legend: "bottom" %>  
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" style="margin-top: 10px;">
    <div class="box col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">By Category</div>
        <div class="panel-body">
          <div id="category-chart" style="height: 300px;">            
            <%= pie_chart @category_all_data, prefix: "$", thousands: ",", legend: "bottom"%> 
          </div>
        </div>
      </div>
    </div>
    <div class=" box col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">Accumulated per year</div>
        <div class="panel-body">
          <div id="month-acc" style="height: 300px;">
            <%= column_chart @all_expenses_data, stacked: true, prefix: "$", thousands: ",", legend: "bottom" %>            
          </div>          
        </div>
      </div>
    </div>
  </div>
      <br>
    <br>
    <br>
    <br>
</div>
