<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h4 class="filter-header">Transaction Type <span>Choose to filter</span></h4>
      <div class="list-group filter-type">
        <a href="#" class="list-group-item">Purchase</a>
        <a href="#" class="list-group-item">Withdrawal</a>       
      </div>      

      <h4 class="filter-header">Categoría <span>Selecciona para filtrar</span></h4>
      <div class="list-group filter-type">       
        <% @categories.each do |category| %> 
        <a href="#" class="list-group-item"><%= category.name %></a>
        <% end%>
      </div>

      <%= link_to  "Crear Categorias", categories_path, class: "btn btn-success pull-left"%>
      
      <br>
      <br>
      <br>
      <!-- for_tag to filter expenses by type -->
      <div class="list-group filter-type"> 
      <h4 class="filter-header">Transaction Type <span>Choose to filter</span></h4>    
      <%= form_tag expenses_path, method: 'get', id: "expenses_search" do %>

        <% @types = Type.all%>
        <% @types.each do |type| %>
          <span class="list-group-item">
            <%= check_box_tag "type_id[]", type.id %><%= type.name%><br>
          </span>  
        <% end %>  

        <h4 class="filter-header">Category Type  <span>Choose to filter</span></h4>
        <% @categories = Category.all %>
        <% @categories.each do |category| %>
          <span class="list-group-item">
            <%= check_box_tag "category_id[]", category.id %><%= category.name%><br>
           </span>  
        <% end %>    
      <br>        
        <%= submit_tag "submit", :name => nil, class: "btn btn-success pull-left"  %>
      <% end %>     
      </div>
      <!-- end for_tag to filter expenses by type  -->   

    </div>

    <div id="expenses_reload" >  <%= render 'expenses' %>   </div>


  </div>
</div>

<script type=text/javascript>
$(function(){
  //search for submit
  $('expenses_search').submit(function(){
    $.get(this.action, $(this).serialize(), null, 'script');
    return false
  });
});
</script>
