<div class="container">
  <div class="row">
    <div class="col-md-3">      
      <br>
      <!-- for_tag to filter expenses by type -->
      <div class="list-group filter-type"> 
      <h4 class="filter-header">Transaction Type <span>Choose to filter</span></h4>    
      <%= form_tag expenses_path, method: 'get', id: "expenses_search" do %>

        <% @types = Type.all%>
        <% @types.each do |type| %>
          <span class="list-group-item">
            <%= check_box_tag "type_id[]", type.id %><%= type.name%><br>
          </span>  
        <% end %>  

        <h4 class="filter-header">Category Type  <span>Choose to filter</span></h4>
        <% @categories = Category.all %>
        <% @categories.each do |category| %>
          <span class="list-group-item">
            <%= check_box_tag "category_id[]", category.id %><%= category.name%><br>
           </span>  
        <% end %>    
      <br>        
        <%#= submit_tag "submit", :name => nil, class: "btn btn-success pull-left"  %>
      <% end %>     
      </div>
      <!-- end for_tag to filter expenses by type  -->   

    </div>

   <%# calculos y enlaces %>

            <select>
              <% @month_list.each do |month| %>
                <option value="<%= month%>"><%= month%></option>                          
              <%end%>
            </select>



   <%# end calculos y enlaces  %>
    

    <div id="expenses" >  <%= render 'expenses' %>   </div>

 


  </div>
</div>



<%# <script>
$(function () {
  // filtration by checkbox
    $('input[type=checkbox]').change(function(){      
      $.get($('#expenses_search').attr('action'),        
      $('#expenses_search').serialize(), null, 'script');      
      return false;    
    });
});
</script> %>

<script>
 new FilterView(); 
</script>


