<div class="container">
  <div class="row">
    <div class="col-md-3">      
      <br>
      <!-- for_tag to filter expenses by type and category -->
      <div class="list-group filter-type"> 
      <h4 class="filter-header">Transaction Type <span>Choose to filter</span></h4>    
      <%= form_tag expenses_path, method: 'get', id: "expenses_search" do %>
        <% @types = Type.all%>
        <% @types.each do |type| %>
          <span class="list-group-item">
            <%= check_box_tag "type_id[]", type.id %><%= type.name%><br>
          </span>  
        <% end %> 
        <h4 class="filter-header">Category Type  <span>Choose to filter</span></h4>
        <% @categories = Category.all %>
        <% @categories.each do |category| %>
          <span class="list-group-item">
            <%= check_box_tag "category_id[]", category.id %><%= category.name%><br>
           </span>  
        <% end %>   
      <% end %>     
      </div>
      <!-- end for_tag to filter expenses by type and category  -->
    </div>

    <div class="col-md-9 index-data">

       <div class="row" style="margin-top: 10px;">
        <div id="expenses_cals" >  <%= render 'expenses_cals' %>   </div>
       </div>

       <div class="row" style="margin-top: 20px;">
         <div class="col-md-12">
           <%= link_to  "New Expense", new_expense_path, remote: true, class: "btn btn-success pull-left glyphicon glyphicon-plus" %>
           <h4 class="dropdown pull-right">
           <!-- filter by date  -->
             <select>
               <% @month_list.each do |month| %>
                 <option value="<%= month%>"><%= month%></option>                          
               <%end%>
             </select>
           <!-- filter by date  -->  
           </h4>
          </div>
        </div>

        <div id="expenses" >  <%= render 'expenses' %>   </div>     
     
    </div>
  </div>
</div>

<!-- Constructor function to call the js filters in application.js file  -->
<script>
 new FilterView(); 
</script>
<!-- filter by date  -->

